@media screen and (max-width: 644px) {
  #tableNum {
    display: none;
  }
}

@media screen and (max-width: 545px) {
  #headerGitea {
    display: none;
  }
}

@media screen and (max-width: 554px) {
  #tableGeneration {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  #tableProgress,
  #headerIntra {
    display: none;
  }
}

@media screen and (max-width: 384px) {
  #headerProfile,
  #headerProgress {
    display: none;
  }
}
